@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@500&family=Fira+Sans&family=PT+Sans:ital@0;1&family=Work+Sans&display=swap');

:root{
    --primary-color: #111827;
    --secondary-color: 
    #D1D5DB; 
    

    
}
body{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-family: 'PT Sans', sans-serif;
}
h1{
    text-align: center;
    margin:2rem;
}
.container{
    width: 300px;
    margin: auto;
}
input,label{
    display: block;
}
input{
    margin-bottom: 0.5rem;
    width: 100%;
}
#check-button{
    display: block;
    margin-top: 2rem;
    margin: auto;
    background: transparent;
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-width: medium;
    padding: 0.5rem;
    border-radius: 0.3rem;
}
